name: CI/CD

on:
  push:
    branches:
      - 'main'

jobs:
  connect-to-server:
    runs-on: ubuntu-latest
    steps:
      - name: connect to server
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME_SSH }}
          password: ${{ secrets.PASSWORD_SSH }}
          port: ${{ secrets.PORT_SSH }}
          script: |
            cd astro-web/
            git pull
            export PATH=$PATH:/home/ubuntu/.nvm/versions/node/v18.15.0/bin
            yarn 
            php noti_discord.php        
            yarn build
