name: CI/CD

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: heepoke/astro-web:dev
  connect-to-server:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: connect to server
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME_SSH }}
          password: ${{ secrets.PASSWORD_SSH }}
          port: ${{ secrets.PORT_SSH }}
          script: |
            cd astro-web/
            git pull
            export PATH=$PATH:/home/ubuntu/.nvm/versions/node/v18.15.0/bin/yarn
            yarn
            yarn dev --host
